.formulario{
    width: 95%;
    padding-left: 5%;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label{
        flex: 0 0 10rem;
    }
    input{
        flex: 1;
        border: none;
        padding: calc(3rem/4);
        border-radius: 10px;
    }
}